* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  cursor: pointer;
  padding: 1rem;
  border-radius: 20%;
  border: none;
  font-size: 1rem;
  margin: 1rem;
}
.button:hover {
  background: rgb(255, 150, 150);
}

.nav {
  background: #000000;
  height: 10vh;
  display: flex;
  justify-content: left;
  label {
    color: white;
    font-size: 2rem;
    padding: 1rem;
  }
  .input {
    width: 15%;
    margin: auto;
    margin: 1rem;
    font-size: 3rem;
    text-align: right;
  }
}

.main {
  background: #333;
  height: 60vh;
  overflow-y: scroll;
  .joke {
    background: #fff;
    width: 90%;
    margin: auto;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: left;
    button {
      cursor: pointer;
      padding: 1rem;
    }
    p {
      margin-left: 1rem;
      font-size: 1rem;
    }
  }
}

button:focus {
  outline: 0;
}

.fav-list {
  background: black;
  color: white;
  p.message {
    font-size: 2rem;
    padding: 1rem;
  }
}

.fav-list-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  button {
    border-radius: 20%;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background: rgb(255, 150, 150);
  }
}

.elements {
  height: 50px;
  color: black;
  background: white;
  border-radius: 20%;
  cursor: pointer;
  margin: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
  }
}

.elements:hover {
  background: rgb(255, 72, 72);
}

.display-fav {
  height: 30vh;
  background: black;
  p.joke {
    color: white;
    font-size: 2rem;
    padding: 1rem;
  }
}

.fav {
  border: none;
}
.fav:hover {
  background: rgb(173, 168, 168);
}
