* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  cursor: pointer;
  padding: 1rem;
  border-radius: 20%;
  border: none;
  margin: 1rem;
}
.button:hover {
  background: red;
}

.nav {
  height: 10vh;
  display: flex;
  justify-content: left;
  .input {
    height: 100%;
    width: 20%;
    padding: 1rem;
    font-size: 2rem;
  }
}

.main {
  height: 60vh;
  p {
    font-size: 3rem;
  }
  .joke {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: left;
    button {
      cursor: pointer;
      padding: 1rem;
    }
    p {
      margin-left: 1rem;
      font-size: 1rem;
    }
  }
}
